.logo {
    filter: opacity(.7);
    width: 70px;
}

.tilt-main {
    width: fit-content;
    margin-left: 1rem;
}

.tilt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    background: #00fffc;
    background: linear-gradient(70deg, rgba(0, 255, 251, 0.5) 0%, rgba(251, 0, 255, 0.5) 100%);  
    border-radius: 6px;
}

