img {
    width: 100%;
}

.image-container {
    position: relative;
    margin: auto;
    margin-top: 1rem;
    width: 70%;
}

.face-box {
    position: absolute;
    box-shadow: 0 0 0 3px #2f00ff inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}