.legend {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: .4em;
    margin-top: 0;
}

.input {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 2px;
    padding: .5em 1em;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.50);
}

.form-container {
    margin: auto;
    padding: 1.5em;
    border: 1px solid black;
    border-radius: 5px;
    max-width: 400px;
    box-shadow: 3px 3px 4px #202020;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: .2em;
    text-align: center;
    width: 100%;
    padding-bottom: 1em;
}

.submit-btn {
    padding: .8em 2em;
    cursor: pointer;
    font-family: inherit;
}

.link {
    color: #202020;
}

@media (max-width: 360px) {
    .legend {
        font-size: 2rem;
    }

    .input {
        max-width: 100%;
    }
}